.App .container {
  max-width: 64em;
}

.App .main-title {
  margin-left: 18%;
  margin-top: 0.8em;
  font-size: 1.3em;
  color: #838383;
}

.Date {
  float: right;
}

.RightPanel {
  margin: 1em auto;
}

.RightPanel .sub-title {
  opacity: 0.6;
}

.RightPanel .title {
  margin: 0.5em;
  font-size: 0.7em;
  opacity: 0.6;
}

.RightPanel .card-body {
  padding: 0.7em;
}

.RightPanel .card-title {
  font-size: 0.7em;
  font-weight: 600;
  margin: 0;
}

.RightPanel .card-text {
  font-size: 0.45em;
}

.RightPanel .legend .rv-discrete-color-legend-item {
  padding: 2px;
}
.RightPanel .chart-title {
  position: absolute;
  font-size: 11px;
  text-align: center;
  width: 160px;
  margin: 70px 0;
}

.RightPanel .rv-hint {
  font-weight: 600;
  padding: 0.2em;
  text-align: center;
  width: 10em;
  font-size: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 2px 2px 3px #8d8d8d;
}

.increment {
  color: #0f9d58;
}

.decrement {
  color: #db4437;
}

.route-col {
  border-right: 1.3px solid rgb(207, 207, 207);
}

.RoutePanel .selected {
  color: #4285f4;
}

.RoutePanel a {
  color: #bebebe;
}

.RoutePanel .route {
  width: 25%;
  margin-left: 60%;
  margin-bottom: 1.4em;
  cursor: pointer;
}

.SalesOverview .container {
  margin: 1em auto;
  display: inline-block;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25em;
}

.SalesOverview .card-body {
  padding: 12px;
}

.SalesOverview .card-title {
  font-size: 1em;
}

.SalesOverview .card-text {
  font-size: 0.8em;
  color: #4d4d4d;
}

.SalesOverview .paid span {
  color: #0f9d58;
}

.SalesOverview .pending span {
  color: #f4b400;
}

.SalesOverview .cancel span {
  color: #db4437;
}

.SalesOverview .card {
  box-shadow: 5px 5px 8px rgb(231, 231, 231);
}

.SingleBarChart {
  margin: 1em auto;
}

.SingleBarChart .rv-xy-plot__series--label {
  fill: white;
}

.MultipleLineChart {
  margin: 1em auto;
}

.MultipleLineChart .rv-xy-plot__axis__tick__text {
  font-size: 9px;
  font-weight: 600;
}

.MultipleLineChart .rv-discrete-color-legend {
  font-size: 9px;
  margin: 1em auto;
}

.SingleBarChart .rv-xy-plot__axis__tick__text {
  font-size: 9px;
  font-weight: 600;
}

.DateRangePicker {
  margin-top: 1em;
}
