.App .container {
  max-width: 50em;
}

.SingleBarChart {
  margin: 1em auto;
}

.MultipleLineChart {
  margin: 1em auto;
}

.MultipleLineChart .rv-xy-plot__axis__tick__text {
  font-size: 9px;
  font-weight: 600;
}

.MultipleLineChart .rv-discrete-color-legend {
  font-size: 9px;
  margin: 1em auto;
}

.SingleBarChart .rv-xy-plot__axis__tick__text {
  font-size: 9px;
  font-weight: 600;
}

.DateRangePicker {
  margin-top: 1em;
}
